<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhonghuasheng.musicstore.dao.UserDao">
    <resultMap id="userMap" type="com.zhonghuasheng.musicstore.model.User">
        <id column="uuid" property="uuid"/>
        <result column="username" property="username" />
        <result column="email" property="email"/>
        <result column="role" property="role"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="active" property="active"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified_time" property="lastModifiedTime"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
    </resultMap>
    <select id="getUserByEmailAndPassword" parameterType="map" resultMap="userMap">
        <![CDATA[
            SELECT
                *
            FROM user_
            WHERE email= #{email} AND password = #{password};
        ]]>
    </select>
    <select id="getActiveUsers" resultMap="userMap">
        <![CDATA[
            SELECT * FROM user_ where active=true AND deleted=false;
        ]]>
    </select>
</mapper>