@charset "UTF-8";
.icon{
    font-family: FontAwesome;
}
body{
    margin: 0;
}

.ml-0 {
    margin-left: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mt-auto {
    margin-top: auto;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-right: 0px !important;
}

.pg-header{
    height: 48px;
    color: white;
    line-height: 48px;
    background-color: #009688;
}

.pg-header .logo{
    width: 13%;
    background-color: #007d71;
    text-align: center;
    font-size: 28px;
}

.pg-header .icons{
    padding: 0 20px;
}

.pg-header .icons:hover{
    background-color: #007d71;
}

.pg-header .user{
    margin-right: 60px;
    padding: 0 20px;
    color: white;
    height: 48px;
    position: relative;
}

.pg-header .user a {
    color: white;
}

.pg-header .user:hover{
    background-color: #007d71;
}

.pg-header .user .a img{
    height: 40px;
    width: 40px;
    margin-top: 4px;
    border-radius: 50%;
}

.pg-header .user .b{
    z-index: 20;
    position: absolute;
    /*相对于用户div定位*/
    top: 48px;
    right: 0;
    background-color: white;
    color: black;
    width: 160px;
    display: none;
    font-size: 14px;
    line-height: 30px;
}

.pg-header .user .b a{
    padding: 5px;
    color: black;
    text-decoration: none;
}

.pg-header .user .b a:hover{
    background-color: #dddddd;
}

.pg-header .user:hover .b{
    display: block;
}

.pg-header .user .b a{
    display: block;
}

.menu{
    position: absolute;
    top:48px;
    left: 0;
    bottom: 0;
    width: 13%;
    background-color: #222d32;
    color: white;
}

.menu ul {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 40px;
}

.menu li {
    list-style: none;
}

.menu-item {
    border-left: 3px solid transparent;
    align-items: center;
    padding: 12px 15px;
    display: -webkit-box;
    text-decoration: none;
    color: white;
}

.menu-item-active, .menu-item:hover, .menu-item:focus {
    border-left-color: #009688;
    background-color: #0d1214;
    text-decoration: none;
    color: white;
}

.content{
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 13%;
    overflow: auto;
    background-color: #E5E5E5;
    padding: 20px;
}

.content .panel {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
}

.line-head {
    border-top: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
}

.action a {
    color: white;
}

.app-search .app-search_input {
    border: 0;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: rgba(241, 238, 238, 0.8);
}

.app-search .app-search_button {
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    float: right;
    cursor: pointer;
}

.pg-footer {
    padding-top: 20px;
}

/* 设置消息样式，数字外边加个圆圈 */
.info {
    border-radius: 50%;
    line-height: 1px;
    background-color: red;
    padding: 10px 7px;
    font-size: 12px;
    display: inline-block;
}

/*Artist Create*/
.avatar {
    height: 100%;
}

.avatar-size {
    height: 130px;
    width: 130px;
}

.table-bordered thead th {
    border-bottom-width: 1px;
}