body {
    background-image: url(../image/register-background.jpg);
    background-size: cover;
}

.register {
    margin-left: 0px;
    margin-right: 0px;
}

.register-form {
    margin-top: 40%;
}

.transucent-fillet {
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 7px;
}