.body {
    background-color: #f5f5f5;
}

a:hover {
    text-decoration: none;
}

.wd-1 {
    width: 10%;
}

.wd-2 {
    width: 20%;
}

.wd-25 {
    width: 25%;
}

.wd-5 {
    width: 50%;
}

.wd-6 {
    width: 60%;
}

.wd-75 {
    width: 75%;
}

.wd-8 {
    width: 80%;
}

.pt-30 {
    padding-top: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.c-999 {
    color: #999;
}

.float-right {
    float: right;
}

.head {
    width: 100%;
    height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
    color: white !important;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

.logo img {
    height: 35px;
    margin-right: 5px;
}

.logo a {
    font-family: fantasy;
}

.logo h2 {
    display: flex;
    align-items: center;
}

.flex-right {
    display: flex;
    flex-direction: row-reverse;
}

.flex-right a {
    color: #787878 !important;
    font-size: 15px;
}

.search-box {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 32px;
    padding-left: 15px;
    border: 0px;
    outline: none;
    height: 30px;
}

.search-input {
    padding-left: 15px;
    outline: none;
}

.subnav-middle {
    box-sizing: border-box;
    background-color: #C20C0C;
    height: 5px;
    border-bottom: none;
}

.subnav-small {
    box-sizing: border-box;
    background-color: #C20C0C;
    height: 2px;
    border-bottom: none;
    width: 94%;
}

.content {

}

.swiper-container {
    width: 100%;
    height: 300px;
}

.swiper-wrapper image {
    width: 500px;
}

#carousel-part {
    width: 60%;
    margin-left: 20%;
}

.content-lefts {
    width: 20%;
    background: yellow;
    height: 500px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.content-rights {
    width: 65%;
    background: blue;
    height: 500px;
    float: left;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 172px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
    padding-top: 35px;
    color: #666;
}

.footer > .announce {
    display: flex;
    margin: auto;
    font-size: 14px;
}


.carousel-inner img {
    width: 100%;
    height: 70%;
}

.recommend {
    display: flex;
    padding-left: 10%;
    margin-top: 40px;
}

.recommend-left {
    width: 20%;
    margin-right: 3%;
    height: 600px;
}

.recommend-right {
    width: 70%;

}

.recommend-item {
    width: 20%;
    height: 204px;
    float: left;
    overflow: auto;
    padding: 3px;
}

.recommend-item img {
  width: 70%;
}

.recommend title {
    font-size: 20px;
    font-weight: normal;
}

.recommend-item-title {
    font-size: 14px;
    width: 70%
}

.recommend-li {
    margin-top: 10px;
}

.vistor {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    align-items: end;
}

.vistor-info p {
    margin-left: 8px;
}

.vistor img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.apply {
    margin-top: 20px;
}