@model IEnumerable<MvcMusicStore.Models.Genre>

@*显示年代分类信息*@
<ul id="categories">
       @foreach(var genre in Model)
       {
            <li>
                @Html.ActionLink(genre.Name, "Browse", "Store", new { Genre=genre.Name },null)
            </li>
       }
</ul>
